In [1]:
import json
import numpy as np

In [2]:
ratings_file='ratings.json'
with open(ratings_file,'r') as f:
    dataset=json.loads(f.read())
dataset

{'David Smith': {'Vertigo': 4,
  'Scarface': 4.5,
  'Raging Bull': 3.0,
  'Goodfellas': 4.5,
  'The Apartment': 1.0},
 'Brenda Peterson': {'Vertigo': 3.0,
  'Scarface': 1.5,
  'Raging Bull': 1.0,
  'Goodfellas': 2.0,
  'The Apartment': 5.0,
  'Roman Holiday': 4.5},
 'Bill Duffy': {'Vertigo': 4.5,
  'Scarface': 5.0,
  'Goodfellas': 4.5,
  'The Apartment': 1.0},
 'Samuel Miller': {'Scarface': 3.5,
  'Raging Bull': 5.0,
  'The Apartment': 1.0,
  'Goodfellas': 5.0,
  'Roman Holiday': 1.0},
 'Julie Hammel': {'Scarface': 2.5, 'Roman Holiday': 4.5, 'Goodfellas': 3.0},
 'Clarissa Jackson': {'Vertigo': 5.0,
  'Scarface': 4.5,
  'Raging Bull': 4.0,
  'Goodfellas': 2.5,
  'The Apartment': 1.0,
  'Roman Holiday': 1.5},
 'Adam Cohen': {'Vertigo': 3.5,
  'Scarface': 3.0,
  'The Apartment': 1.0,
  'Goodfellas': 4.5,
  'Roman Holiday': 3.0},
 'Chris Duncan': {'The Apartment': 1.5, 'Raging Bull': 4.5}}

In [3]:
print(dataset.keys())

dict_keys(['David Smith', 'Brenda Peterson', 'Bill Duffy', 'Samuel Miller', 'Julie Hammel', 'Clarissa Jackson', 'Adam Cohen', 'Chris Duncan'])

In [6]:
import pandas as pd
data=pd.DataFrame(dataset)
data

,David Smith,Brenda Peterson,Bill Duffy,Samuel Miller,Julie Hammel,Clarissa Jackson,Adam Cohen,Chris Duncan
Goodfellas,4.5,2.0,4.5,5.0,3.0,2.5,4.5,NaN
Raging Bull,3.0,1.0,NaN,5.0,NaN,4.0,NaN,4.5
Roman Holiday,NaN,4.5,NaN,1.0,4.5,1.5,3.0,NaN
Scarface,4.5,1.5,5.0,3.5,2.5,4.5,3.0,NaN
The Apartment,1.0,5.0,1.0,1.0,NaN,1.0,1.0,1.5
Vertigo,4.0,3.0,4.5,NaN,NaN,5.0,3.5,NaN

In [4]:
person=[]
movieunique=[]
for p_id,p_info in dataset.items():
    person.append(p_id)
    for key in p_info:
        if key not in movieunique:
            movieunique.append(key)
person,movieunique

(['David Smith',
  'Brenda Peterson',
  'Bill Duffy',
  'Samuel Miller',
  'Julie Hammel',
  'Clarissa Jackson',
  'Adam Cohen',
  'Chris Duncan'],
 ['Vertigo',
  'Scarface',
  'Raging Bull',
  'Goodfellas',
  'The Apartment',
  'Roman Holiday'])

In [8]:
# Compute the Pearson correlation score between user1 and user2 
def pearson_score(dataset, user1, user2):
    if user1 not in dataset:
        raise TypeError('Cannot find ' + user1 + ' in the dataset')
    if user2 not in dataset:
        raise TypeError('Cannot find ' + user2 + ' in the dataset')
    # Movies rated by both user1 and user2
    common_movies = {}
    for item in dataset[user1]:
        if item in dataset[user2]:
            common_movies[item] = 1
    num_ratings = len(common_movies)
    # If there are no common movies between user1 and user2, then the score is 0 
    if num_ratings == 0:
        return 0
    # Calculate the sum of ratings of all the common movies 
    user1_sum = np.sum([dataset[user1][item] for item in common_movies])
    user2_sum = np.sum([dataset[user2][item] for item in common_movies])
    # Calculate the sum of squares of ratings of all the common movies 
    user1_squared_sum = np.sum([np.square(dataset[user1][item]) for item in common_movies])
    user2_squared_sum = np.sum([np.square(dataset[user2][item]) for item in common_movies])
    # Calculate the sum of products of the ratings of the common movies
    sum_of_products = np.sum([dataset[user1][item] * dataset[user2][item] for item in common_movies])
    # Calculate the Pearson correlation score
    Sxy = sum_of_products - (user1_sum * user2_sum / num_ratings)
    Sxx = user1_squared_sum - np.square(user1_sum) / num_ratings
    Syy = user2_squared_sum - np.square(user2_sum) / num_ratings
    
    if Sxx * Syy == 0:
        return 0
    return Sxy / np.sqrt(Sxx * Syy)

In [10]:
user1="Bill Duffy"
user2="Clarissa Jackson"
print("\nPearson Score:")
print(pearson_score(dataset,user1,user2))

Pearson Score:
0.8292682926829268

In [ ]:
input_user="Chris Duncan"
for user in [x for x in dataset if x!=input_user]:
    similarly_score=pearson_score(dataset,input_user,user)
    print(user,similarly_score)